<div style="width: 100%;">
	<div style="width: 1325px; height: 500; margin:0 auto;">
		<div routerLink="/" class="header">Образовательный портал</div>
		<div style="display: inline-block;">
		<div style="width:300px; height:500px;">
		<div><button routerLink="/courses" class="menubut" >Курсы </button></div>
    <div><button routerLink="/teachers" class="menubut" >Преподаватели </button></div>
    <div><button routerLink="/students" class="menubut" >Студенты </button></div>
		</div>
		</div>
		<div style="float:right;width:1025px; height:500px; background-color: #C5D2DB; ">
			 <router-outlet></router-outlet>
    </div>
